#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1180px 1503px #fff, 1339px 543px #fff, 521px 704px #fff,
		485px 1463px #fff, 367px 443px #fff, 1505px 1869px #fff, 1903px 1699px #fff,
		867px 1362px #fff, 958px 1599px #fff, 885px 1033px #fff, 649px 968px #fff,
		1877px 1629px #fff, 265px 777px #fff, 1334px 1109px #fff, 1460px 1243px #fff,
		1990px 681px #fff, 220px 560px #fff, 1721px 617px #fff, 1328px 1135px #fff,
		729px 2000px #fff, 271px 1977px #fff, 780px 1470px #fff, 154px 546px #fff,
		199px 514px #fff, 705px 1305px #fff, 748px 1410px #fff, 1428px 1059px #fff,
		1962px 559px #fff, 1966px 783px #fff, 786px 1858px #fff, 1310px 1712px #fff,
		355px 677px #fff, 1170px 347px #fff, 6px 1049px #fff, 1043px 1995px #fff,
		430px 1031px #fff, 749px 1137px #fff, 599px 17px #fff, 1835px 206px #fff,
		1959px 1616px #fff, 649px 1635px #fff, 1195px 828px #fff, 1360px 399px #fff,
		1283px 1291px #fff, 1589px 508px #fff, 1866px 300px #fff, 1966px 1151px #fff,
		205px 1855px #fff, 1689px 1855px #fff, 545px 845px #fff, 1523px 221px #fff,
		1718px 1263px #fff, 242px 649px #fff, 1090px 752px #fff, 1553px 1188px #fff,
		1983px 1651px #fff, 374px 741px #fff, 1747px 171px #fff, 825px 583px #fff,
		1765px 1843px #fff, 72px 331px #fff, 243px 1343px #fff, 94px 1308px #fff,
		252px 1037px #fff, 870px 907px #fff, 982px 146px #fff, 406px 510px #fff,
		14px 1751px #fff, 678px 307px #fff, 24px 458px #fff, 1645px 663px #fff,
		1947px 1662px #fff, 782px 146px #fff, 1918px 1355px #fff, 534px 919px #fff,
		57px 1279px #fff, 210px 1400px #fff, 938px 899px #fff, 1241px 427px #fff,
		835px 1708px #fff, 1916px 319px #fff, 710px 1816px #fff, 1065px 623px #fff,
		1445px 1718px #fff, 247px 1549px #fff, 1175px 873px #fff, 1454px 1833px #fff,
		1610px 975px #fff, 242px 1917px #fff, 10px 1197px #fff, 910px 1154px #fff,
		1162px 679px #fff, 1928px 562px #fff, 214px 929px #fff, 1597px 1676px #fff,
		122px 1652px #fff, 424px 1113px #fff, 1759px 1552px #fff, 52px 183px #fff,
		23px 1395px #fff, 1767px 1594px #fff, 1604px 1055px #fff, 348px 907px #fff,
		1034px 929px #fff, 1109px 1170px #fff, 400px 1012px #fff, 1765px 1187px #fff,
		339px 316px #fff, 45px 1469px #fff, 672px 1170px #fff, 98px 702px #fff,
		1531px 893px #fff, 1668px 1856px #fff, 1320px 7px #fff, 676px 737px #fff,
		1170px 1672px #fff, 807px 45px #fff, 1989px 1386px #fff, 239px 681px #fff,
		1016px 1288px #fff, 362px 649px #fff, 1780px 620px #fff, 365px 1002px #fff,
		1270px 92px #fff, 226px 777px #fff, 1820px 1072px #fff, 81px 616px #fff,
		334px 851px #fff, 985px 635px #fff, 1970px 138px #fff, 1423px 860px #fff,
		460px 1978px #fff, 1679px 212px #fff, 635px 1997px #fff, 1924px 175px #fff,
		1475px 1655px #fff, 1097px 57px #fff, 239px 973px #fff, 1248px 817px #fff,
		586px 262px #fff, 71px 965px #fff, 929px 1990px #fff, 1961px 426px #fff,
		595px 1598px #fff, 138px 1912px #fff, 1207px 292px #fff, 1727px 382px #fff,
		1946px 1438px #fff, 1573px 1415px #fff, 1467px 916px #fff,
		1620px 1027px #fff, 1628px 1467px #fff, 1601px 362px #fff,
		1075px 1837px #fff, 86px 379px #fff, 1846px 1497px #fff, 1044px 1131px #fff,
		1430px 126px #fff, 320px 1571px #fff, 1315px 1714px #fff, 1415px 1470px #fff,
		725px 981px #fff, 626px 1014px #fff, 288px 1922px #fff, 1985px 1370px #fff,
		632px 618px #fff, 1171px 1886px #fff, 1937px 707px #fff, 1265px 308px #fff,
		756px 732px #fff, 144px 583px #fff, 1202px 1327px #fff, 1213px 297px #fff,
		1390px 1197px #fff, 605px 948px #fff, 1710px 1128px #fff, 1998px 1632px #fff,
		870px 748px #fff, 552px 675px #fff, 1417px 899px #fff, 1904px 846px #fff,
		1302px 1484px #fff, 1209px 36px #fff, 670px 941px #fff, 1121px 607px #fff,
		341px 249px #fff, 1862px 580px #fff, 718px 487px #fff, 1359px 1609px #fff,
		1682px 1463px #fff, 139px 27px #fff, 171px 790px #fff, 164px 1312px #fff,
		297px 417px #fff, 170px 37px #fff, 644px 294px #fff, 115px 311px #fff,
		1459px 287px #fff, 207px 1293px #fff, 1852px 813px #fff, 1662px 864px #fff,
		1676px 1200px #fff, 1014px 396px #fff, 1995px 1964px #fff, 219px 1020px #fff,
		1450px 146px #fff, 686px 736px #fff, 990px 1794px #fff, 1152px 1848px #fff,
		1646px 1517px #fff, 1415px 893px #fff, 1665px 1845px #fff,
		1797px 1717px #fff, 323px 1175px #fff, 709px 1959px #fff, 1877px 1134px #fff,
		790px 1329px #fff, 192px 1555px #fff, 781px 1427px #fff, 1012px 459px #fff,
		546px 137px #fff, 1728px 1089px #fff, 1128px 1063px #fff, 1219px 909px #fff,
		102px 350px #fff, 1154px 1845px #fff, 540px 158px #fff, 1853px 1318px #fff,
		1610px 334px #fff, 489px 1029px #fff, 1728px 1403px #fff, 107px 747px #fff,
		1212px 313px #fff, 13px 639px #fff, 128px 97px #fff, 1234px 620px #fff,
		231px 983px #fff, 696px 1653px #fff, 944px 1783px #fff, 368px 729px #fff,
		1687px 1576px #fff, 164px 1236px #fff, 1934px 1435px #fff,
		1057px 1061px #fff, 953px 732px #fff, 1183px 944px #fff, 1920px 1716px #fff,
		192px 612px #fff, 1275px 549px #fff, 1429px 1706px #fff, 1640px 1422px #fff,
		1343px 1367px #fff, 1772px 491px #fff, 365px 13px #fff, 874px 411px #fff,
		1434px 1649px #fff, 53px 1087px #fff, 542px 1081px #fff, 1459px 1587px #fff,
		1791px 605px #fff, 1270px 1729px #fff, 1221px 254px #fff, 1472px 625px #fff,
		1887px 1342px #fff, 375px 728px #fff, 854px 1992px #fff, 625px 215px #fff,
		778px 1280px #fff, 849px 1151px #fff, 1411px 1927px #fff, 215px 410px #fff,
		1769px 1478px #fff, 715px 762px #fff, 135px 357px #fff, 1582px 1747px #fff,
		1609px 78px #fff, 1459px 1051px #fff, 1583px 1105px #fff, 1894px 1246px #fff,
		531px 1671px #fff, 296px 1298px #fff, 1405px 1447px #fff, 904px 631px #fff,
		980px 1565px #fff, 270px 1398px #fff, 1048px 1500px #fff, 1427px 263px #fff,
		702px 510px #fff, 1486px 745px #fff, 1285px 1988px #fff, 560px 1618px #fff,
		123px 1758px #fff, 1718px 1905px #fff, 526px 1683px #fff, 734px 23px #fff,
		208px 1968px #fff, 517px 1095px #fff, 223px 1164px #fff, 332px 581px #fff,
		1082px 253px #fff, 1192px 1871px #fff, 855px 474px #fff, 7px 1901px #fff,
		1884px 1682px #fff, 1746px 1264px #fff, 229px 1104px #fff, 911px 631px #fff,
		1463px 781px #fff, 1095px 24px #fff, 1673px 1568px #fff, 1707px 1769px #fff,
		714px 370px #fff, 1091px 1209px #fff, 1455px 870px #fff, 763px 1102px #fff,
		128px 1446px #fff, 1738px 368px #fff, 1859px 1371px #fff, 105px 839px #fff,
		1663px 1897px #fff, 1786px 1241px #fff, 295px 1867px #fff, 656px 104px #fff,
		1028px 1333px #fff, 1156px 1888px #fff, 79px 1575px #fff, 1361px 390px #fff,
		189px 1226px #fff, 219px 1332px #fff, 1418px 808px #fff, 1181px 1743px #fff,
		856px 1775px #fff, 540px 39px #fff, 1897px 989px #fff, 1457px 1841px #fff,
		951px 1329px #fff, 413px 1591px #fff, 1432px 690px #fff, 1582px 58px #fff,
		143px 1927px #fff, 1581px 1808px #fff, 681px 1131px #fff, 1385px 1850px #fff,
		1906px 1604px #fff, 1718px 975px #fff, 942px 1821px #fff, 1888px 715px #fff,
		765px 722px #fff, 295px 1374px #fff, 1746px 363px #fff, 9px 1937px #fff,
		1649px 545px #fff, 1496px 614px #fff, 996px 1567px #fff, 70px 1179px #fff,
		1807px 1842px #fff, 1736px 1280px #fff, 896px 384px #fff, 860px 1442px #fff,
		1043px 1490px #fff, 1019px 346px #fff, 1446px 1565px #fff, 125px 180px #fff,
		131px 116px #fff, 1419px 1864px #fff, 1938px 963px #fff, 1274px 753px #fff,
		766px 5px #fff, 1107px 1098px #fff, 1720px 75px #fff, 942px 342px #fff,
		1936px 980px #fff, 1266px 1037px #fff, 198px 1332px #fff, 258px 303px #fff,
		1479px 1947px #fff, 1086px 1011px #fff, 1133px 1999px #fff, 944px 558px #fff,
		1898px 1066px #fff, 1503px 1766px #fff, 1251px 1750px #fff,
		897px 1401px #fff, 1597px 1274px #fff, 574px 1798px #fff, 1235px 393px #fff,
		1367px 684px #fff, 1818px 1382px #fff, 1012px 463px #fff, 424px 1340px #fff,
		1151px 562px #fff, 90px 701px #fff, 1430px 936px #fff, 608px 308px #fff,
		229px 1539px #fff, 705px 626px #fff, 204px 876px #fff, 254px 898px #fff,
		693px 739px #fff, 553px 1209px #fff, 1072px 604px #fff, 857px 168px #fff,
		1272px 1281px #fff, 472px 690px #fff, 267px 1954px #fff, 1144px 1306px #fff,
		163px 458px #fff, 267px 994px #fff, 970px 420px #fff, 490px 1886px #fff,
		1006px 1319px #fff, 1339px 686px #fff, 426px 850px #fff, 1214px 1869px #fff,
		861px 588px #fff, 1828px 727px #fff, 733px 1219px #fff, 118px 681px #fff,
		1086px 1223px #fff, 614px 734px #fff, 100px 1741px #fff, 664px 744px #fff,
		1463px 1953px #fff, 203px 1813px #fff, 1903px 1153px #fff, 1840px 616px #fff,
		746px 1989px #fff, 1209px 1673px #fff, 1862px 1359px #fff, 509px 53px #fff,
		1448px 1103px #fff, 31px 898px #fff, 1988px 1347px #fff, 609px 1563px #fff,
		1038px 1398px #fff, 813px 957px #fff, 1119px 1783px #fff, 1322px 62px #fff,
		1640px 1763px #fff, 449px 1271px #fff, 474px 1304px #fff, 1133px 1986px #fff,
		499px 1237px #fff, 1246px 456px #fff, 361px 180px #fff, 1371px 1995px #fff,
		1342px 184px #fff, 1401px 408px #fff, 1047px 347px #fff, 1522px 163px #fff,
		1452px 1297px #fff, 1432px 779px #fff, 501px 1081px #fff, 1071px 548px #fff,
		67px 1527px #fff, 1698px 203px #fff, 1971px 496px #fff, 440px 251px #fff,
		1764px 957px #fff, 853px 48px #fff, 699px 1476px #fff, 1534px 248px #fff,
		1274px 684px #fff, 1235px 978px #fff, 651px 119px #fff, 1861px 1463px #fff,
		1239px 1512px #fff, 37px 1739px #fff, 799px 1128px #fff, 1301px 607px #fff,
		1201px 836px #fff, 820px 1410px #fff, 1367px 1466px #fff, 718px 1815px #fff,
		928px 1681px #fff, 1787px 1714px #fff, 1513px 292px #fff, 708px 600px #fff,
		1492px 913px #fff, 674px 1444px #fff, 895px 1805px #fff, 50px 1405px #fff,
		1344px 80px #fff, 513px 473px #fff, 1995px 1524px #fff, 138px 1581px #fff,
		592px 539px #fff, 501px 1820px #fff, 1977px 1720px #fff, 1703px 258px #fff,
		19px 988px #fff, 894px 1778px #fff, 1156px 728px #fff, 764px 1187px #fff,
		1377px 418px #fff, 615px 1873px #fff, 137px 1px #fff, 648px 1235px #fff,
		746px 1000px #fff, 113px 927px #fff, 157px 332px #fff, 1750px 1759px #fff,
		896px 1578px #fff, 1814px 1956px #fff, 1689px 1045px #fff, 1032px 3px #fff,
		880px 946px #fff, 1535px 110px #fff, 1551px 846px #fff, 913px 707px #fff,
		550px 297px #fff, 906px 402px #fff, 1650px 147px #fff, 58px 783px #fff,
		719px 1105px #fff, 1185px 901px #fff, 1631px 1538px #fff, 775px 389px #fff,
		897px 1449px #fff, 1633px 397px #fff, 444px 1966px #fff, 1619px 501px #fff,
		1113px 782px #fff, 557px 1441px #fff, 1058px 135px #fff, 1534px 1060px #fff,
		1392px 581px #fff, 1661px 1053px #fff, 587px 432px #fff, 1234px 27px #fff,
		301px 596px #fff, 365px 1394px #fff, 755px 971px #fff, 974px 1762px #fff,
		1732px 1448px #fff, 886px 1355px #fff, 445px 1002px #fff, 197px 1499px #fff,
		143px 1489px #fff, 370px 590px #fff, 70px 1210px #fff, 1436px 421px #fff,
		534px 162px #fff, 990px 1793px #fff, 918px 255px #fff, 327px 1554px #fff,
		423px 760px #fff, 1812px 906px #fff, 1252px 86px #fff, 721px 2000px #fff,
		1103px 893px #fff, 788px 1009px #fff, 884px 478px #fff, 1914px 1870px #fff,
		683px 540px #fff, 718px 1329px #fff, 1063px 364px #fff, 1681px 1740px #fff,
		1761px 991px #fff, 853px 178px #fff, 1992px 293px #fff, 1073px 966px #fff,
		316px 171px #fff, 1964px 1960px #fff, 1193px 598px #fff, 1889px 578px #fff,
		1991px 883px #fff, 816px 322px #fff, 1324px 579px #fff, 1606px 1229px #fff,
		509px 57px #fff, 1800px 435px #fff, 996px 70px #fff, 1070px 1237px #fff,
		413px 686px #fff, 1212px 1693px #fff, 776px 1069px #fff, 952px 763px #fff,
		673px 1056px #fff, 1150px 636px #fff, 288px 1482px #fff, 1002px 1721px #fff,
		750px 667px #fff, 1535px 1615px #fff, 840px 1148px #fff, 1613px 1410px #fff,
		985px 344px #fff, 163px 673px #fff, 1993px 371px #fff, 568px 1876px #fff,
		1280px 377px #fff, 94px 58px #fff, 186px 1597px #fff, 457px 1320px #fff,
		987px 553px #fff, 809px 427px #fff, 604px 1668px #fff, 159px 289px #fff,
		505px 1673px #fff, 1415px 1962px #fff, 196px 733px #fff, 1384px 849px #fff,
		324px 359px #fff, 1213px 951px #fff, 1631px 958px #fff, 873px 1788px #fff,
		558px 1649px #fff, 830px 133px #fff, 58px 1139px #fff, 313px 1053px #fff,
		402px 1999px #fff, 854px 510px #fff, 626px 118px #fff, 870px 794px #fff,
		1028px 1508px #fff, 1121px 1669px #fff, 132px 1468px #fff,
		1664px 1610px #fff, 236px 1172px #fff, 1466px 130px #fff, 106px 156px #fff,
		1626px 92px #fff, 1579px 201px #fff, 867px 1308px #fff, 1260px 864px #fff,
		1482px 453px #fff, 1642px 123px #fff, 1911px 1162px #fff, 1490px 1548px #fff,
		1971px 952px #fff, 1356px 1872px #fff, 823px 1060px #fff, 1115px 43px #fff,
		1707px 25px #fff, 1187px 1089px #fff, 923px 1589px #fff, 626px 1377px #fff,
		1547px 153px #fff, 1537px 28px #fff, 537px 1282px #fff, 1055px 24px #fff,
		1757px 419px #fff, 1826px 425px #fff, 1552px 1115px #fff, 1322px 372px #fff,
		1430px 423px #fff, 952px 1590px #fff, 1680px 1156px #fff, 138px 81px #fff,
		1932px 308px #fff, 1842px 843px #fff, 542px 1388px #fff, 1154px 1754px #fff,
		89px 19px #fff, 782px 1926px #fff, 646px 618px #fff, 1205px 1951px #fff,
		1360px 183px #fff, 1391px 1083px #fff, 1843px 105px #fff, 1482px 1221px #fff,
		1279px 1389px #fff, 238px 667px #fff, 1113px 613px #fff, 1904px 1094px #fff,
		293px 1077px #fff, 1184px 1384px #fff, 1994px 548px #fff, 1697px 602px #fff,
		225px 641px #fff, 1425px 793px #fff, 1486px 443px #fff, 597px 39px #fff,
		468px 1940px #fff, 1327px 673px #fff, 780px 1825px #fff, 481px 1810px #fff,
		36px 757px #fff, 27px 576px #fff, 990px 306px #fff, 568px 1047px #fff,
		1846px 1660px #fff, 1970px 58px #fff, 38px 1919px #fff, 391px 1961px #fff,
		498px 256px #fff, 1229px 1725px #fff, 1939px 909px #fff, 1082px 1241px #fff,
		203px 698px #fff, 137px 1225px #fff, 685px 1522px #fff, 481px 1347px #fff,
		305px 1087px #fff, 636px 1193px #fff, 1382px 1334px #fff, 1089px 538px #fff,
		76px 1627px #fff, 1281px 129px #fff, 1466px 102px #fff;
	animation: animStar 50s linear infinite;
}
#stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1180px 1503px #fff, 1339px 543px #fff, 521px 704px #fff,
		485px 1463px #fff, 367px 443px #fff, 1505px 1869px #fff, 1903px 1699px #fff,
		867px 1362px #fff, 958px 1599px #fff, 885px 1033px #fff, 649px 968px #fff,
		1877px 1629px #fff, 265px 777px #fff, 1334px 1109px #fff, 1460px 1243px #fff,
		1990px 681px #fff, 220px 560px #fff, 1721px 617px #fff, 1328px 1135px #fff,
		729px 2000px #fff, 271px 1977px #fff, 780px 1470px #fff, 154px 546px #fff,
		199px 514px #fff, 705px 1305px #fff, 748px 1410px #fff, 1428px 1059px #fff,
		1962px 559px #fff, 1966px 783px #fff, 786px 1858px #fff, 1310px 1712px #fff,
		355px 677px #fff, 1170px 347px #fff, 6px 1049px #fff, 1043px 1995px #fff,
		430px 1031px #fff, 749px 1137px #fff, 599px 17px #fff, 1835px 206px #fff,
		1959px 1616px #fff, 649px 1635px #fff, 1195px 828px #fff, 1360px 399px #fff,
		1283px 1291px #fff, 1589px 508px #fff, 1866px 300px #fff, 1966px 1151px #fff,
		205px 1855px #fff, 1689px 1855px #fff, 545px 845px #fff, 1523px 221px #fff,
		1718px 1263px #fff, 242px 649px #fff, 1090px 752px #fff, 1553px 1188px #fff,
		1983px 1651px #fff, 374px 741px #fff, 1747px 171px #fff, 825px 583px #fff,
		1765px 1843px #fff, 72px 331px #fff, 243px 1343px #fff, 94px 1308px #fff,
		252px 1037px #fff, 870px 907px #fff, 982px 146px #fff, 406px 510px #fff,
		14px 1751px #fff, 678px 307px #fff, 24px 458px #fff, 1645px 663px #fff,
		1947px 1662px #fff, 782px 146px #fff, 1918px 1355px #fff, 534px 919px #fff,
		57px 1279px #fff, 210px 1400px #fff, 938px 899px #fff, 1241px 427px #fff,
		835px 1708px #fff, 1916px 319px #fff, 710px 1816px #fff, 1065px 623px #fff,
		1445px 1718px #fff, 247px 1549px #fff, 1175px 873px #fff, 1454px 1833px #fff,
		1610px 975px #fff, 242px 1917px #fff, 10px 1197px #fff, 910px 1154px #fff,
		1162px 679px #fff, 1928px 562px #fff, 214px 929px #fff, 1597px 1676px #fff,
		122px 1652px #fff, 424px 1113px #fff, 1759px 1552px #fff, 52px 183px #fff,
		23px 1395px #fff, 1767px 1594px #fff, 1604px 1055px #fff, 348px 907px #fff,
		1034px 929px #fff, 1109px 1170px #fff, 400px 1012px #fff, 1765px 1187px #fff,
		339px 316px #fff, 45px 1469px #fff, 672px 1170px #fff, 98px 702px #fff,
		1531px 893px #fff, 1668px 1856px #fff, 1320px 7px #fff, 676px 737px #fff,
		1170px 1672px #fff, 807px 45px #fff, 1989px 1386px #fff, 239px 681px #fff,
		1016px 1288px #fff, 362px 649px #fff, 1780px 620px #fff, 365px 1002px #fff,
		1270px 92px #fff, 226px 777px #fff, 1820px 1072px #fff, 81px 616px #fff,
		334px 851px #fff, 985px 635px #fff, 1970px 138px #fff, 1423px 860px #fff,
		460px 1978px #fff, 1679px 212px #fff, 635px 1997px #fff, 1924px 175px #fff,
		1475px 1655px #fff, 1097px 57px #fff, 239px 973px #fff, 1248px 817px #fff,
		586px 262px #fff, 71px 965px #fff, 929px 1990px #fff, 1961px 426px #fff,
		595px 1598px #fff, 138px 1912px #fff, 1207px 292px #fff, 1727px 382px #fff,
		1946px 1438px #fff, 1573px 1415px #fff, 1467px 916px #fff,
		1620px 1027px #fff, 1628px 1467px #fff, 1601px 362px #fff,
		1075px 1837px #fff, 86px 379px #fff, 1846px 1497px #fff, 1044px 1131px #fff,
		1430px 126px #fff, 320px 1571px #fff, 1315px 1714px #fff, 1415px 1470px #fff,
		725px 981px #fff, 626px 1014px #fff, 288px 1922px #fff, 1985px 1370px #fff,
		632px 618px #fff, 1171px 1886px #fff, 1937px 707px #fff, 1265px 308px #fff,
		756px 732px #fff, 144px 583px #fff, 1202px 1327px #fff, 1213px 297px #fff,
		1390px 1197px #fff, 605px 948px #fff, 1710px 1128px #fff, 1998px 1632px #fff,
		870px 748px #fff, 552px 675px #fff, 1417px 899px #fff, 1904px 846px #fff,
		1302px 1484px #fff, 1209px 36px #fff, 670px 941px #fff, 1121px 607px #fff,
		341px 249px #fff, 1862px 580px #fff, 718px 487px #fff, 1359px 1609px #fff,
		1682px 1463px #fff, 139px 27px #fff, 171px 790px #fff, 164px 1312px #fff,
		297px 417px #fff, 170px 37px #fff, 644px 294px #fff, 115px 311px #fff,
		1459px 287px #fff, 207px 1293px #fff, 1852px 813px #fff, 1662px 864px #fff,
		1676px 1200px #fff, 1014px 396px #fff, 1995px 1964px #fff, 219px 1020px #fff,
		1450px 146px #fff, 686px 736px #fff, 990px 1794px #fff, 1152px 1848px #fff,
		1646px 1517px #fff, 1415px 893px #fff, 1665px 1845px #fff,
		1797px 1717px #fff, 323px 1175px #fff, 709px 1959px #fff, 1877px 1134px #fff,
		790px 1329px #fff, 192px 1555px #fff, 781px 1427px #fff, 1012px 459px #fff,
		546px 137px #fff, 1728px 1089px #fff, 1128px 1063px #fff, 1219px 909px #fff,
		102px 350px #fff, 1154px 1845px #fff, 540px 158px #fff, 1853px 1318px #fff,
		1610px 334px #fff, 489px 1029px #fff, 1728px 1403px #fff, 107px 747px #fff,
		1212px 313px #fff, 13px 639px #fff, 128px 97px #fff, 1234px 620px #fff,
		231px 983px #fff, 696px 1653px #fff, 944px 1783px #fff, 368px 729px #fff,
		1687px 1576px #fff, 164px 1236px #fff, 1934px 1435px #fff,
		1057px 1061px #fff, 953px 732px #fff, 1183px 944px #fff, 1920px 1716px #fff,
		192px 612px #fff, 1275px 549px #fff, 1429px 1706px #fff, 1640px 1422px #fff,
		1343px 1367px #fff, 1772px 491px #fff, 365px 13px #fff, 874px 411px #fff,
		1434px 1649px #fff, 53px 1087px #fff, 542px 1081px #fff, 1459px 1587px #fff,
		1791px 605px #fff, 1270px 1729px #fff, 1221px 254px #fff, 1472px 625px #fff,
		1887px 1342px #fff, 375px 728px #fff, 854px 1992px #fff, 625px 215px #fff,
		778px 1280px #fff, 849px 1151px #fff, 1411px 1927px #fff, 215px 410px #fff,
		1769px 1478px #fff, 715px 762px #fff, 135px 357px #fff, 1582px 1747px #fff,
		1609px 78px #fff, 1459px 1051px #fff, 1583px 1105px #fff, 1894px 1246px #fff,
		531px 1671px #fff, 296px 1298px #fff, 1405px 1447px #fff, 904px 631px #fff,
		980px 1565px #fff, 270px 1398px #fff, 1048px 1500px #fff, 1427px 263px #fff,
		702px 510px #fff, 1486px 745px #fff, 1285px 1988px #fff, 560px 1618px #fff,
		123px 1758px #fff, 1718px 1905px #fff, 526px 1683px #fff, 734px 23px #fff,
		208px 1968px #fff, 517px 1095px #fff, 223px 1164px #fff, 332px 581px #fff,
		1082px 253px #fff, 1192px 1871px #fff, 855px 474px #fff, 7px 1901px #fff,
		1884px 1682px #fff, 1746px 1264px #fff, 229px 1104px #fff, 911px 631px #fff,
		1463px 781px #fff, 1095px 24px #fff, 1673px 1568px #fff, 1707px 1769px #fff,
		714px 370px #fff, 1091px 1209px #fff, 1455px 870px #fff, 763px 1102px #fff,
		128px 1446px #fff, 1738px 368px #fff, 1859px 1371px #fff, 105px 839px #fff,
		1663px 1897px #fff, 1786px 1241px #fff, 295px 1867px #fff, 656px 104px #fff,
		1028px 1333px #fff, 1156px 1888px #fff, 79px 1575px #fff, 1361px 390px #fff,
		189px 1226px #fff, 219px 1332px #fff, 1418px 808px #fff, 1181px 1743px #fff,
		856px 1775px #fff, 540px 39px #fff, 1897px 989px #fff, 1457px 1841px #fff,
		951px 1329px #fff, 413px 1591px #fff, 1432px 690px #fff, 1582px 58px #fff,
		143px 1927px #fff, 1581px 1808px #fff, 681px 1131px #fff, 1385px 1850px #fff,
		1906px 1604px #fff, 1718px 975px #fff, 942px 1821px #fff, 1888px 715px #fff,
		765px 722px #fff, 295px 1374px #fff, 1746px 363px #fff, 9px 1937px #fff,
		1649px 545px #fff, 1496px 614px #fff, 996px 1567px #fff, 70px 1179px #fff,
		1807px 1842px #fff, 1736px 1280px #fff, 896px 384px #fff, 860px 1442px #fff,
		1043px 1490px #fff, 1019px 346px #fff, 1446px 1565px #fff, 125px 180px #fff,
		131px 116px #fff, 1419px 1864px #fff, 1938px 963px #fff, 1274px 753px #fff,
		766px 5px #fff, 1107px 1098px #fff, 1720px 75px #fff, 942px 342px #fff,
		1936px 980px #fff, 1266px 1037px #fff, 198px 1332px #fff, 258px 303px #fff,
		1479px 1947px #fff, 1086px 1011px #fff, 1133px 1999px #fff, 944px 558px #fff,
		1898px 1066px #fff, 1503px 1766px #fff, 1251px 1750px #fff,
		897px 1401px #fff, 1597px 1274px #fff, 574px 1798px #fff, 1235px 393px #fff,
		1367px 684px #fff, 1818px 1382px #fff, 1012px 463px #fff, 424px 1340px #fff,
		1151px 562px #fff, 90px 701px #fff, 1430px 936px #fff, 608px 308px #fff,
		229px 1539px #fff, 705px 626px #fff, 204px 876px #fff, 254px 898px #fff,
		693px 739px #fff, 553px 1209px #fff, 1072px 604px #fff, 857px 168px #fff,
		1272px 1281px #fff, 472px 690px #fff, 267px 1954px #fff, 1144px 1306px #fff,
		163px 458px #fff, 267px 994px #fff, 970px 420px #fff, 490px 1886px #fff,
		1006px 1319px #fff, 1339px 686px #fff, 426px 850px #fff, 1214px 1869px #fff,
		861px 588px #fff, 1828px 727px #fff, 733px 1219px #fff, 118px 681px #fff,
		1086px 1223px #fff, 614px 734px #fff, 100px 1741px #fff, 664px 744px #fff,
		1463px 1953px #fff, 203px 1813px #fff, 1903px 1153px #fff, 1840px 616px #fff,
		746px 1989px #fff, 1209px 1673px #fff, 1862px 1359px #fff, 509px 53px #fff,
		1448px 1103px #fff, 31px 898px #fff, 1988px 1347px #fff, 609px 1563px #fff,
		1038px 1398px #fff, 813px 957px #fff, 1119px 1783px #fff, 1322px 62px #fff,
		1640px 1763px #fff, 449px 1271px #fff, 474px 1304px #fff, 1133px 1986px #fff,
		499px 1237px #fff, 1246px 456px #fff, 361px 180px #fff, 1371px 1995px #fff,
		1342px 184px #fff, 1401px 408px #fff, 1047px 347px #fff, 1522px 163px #fff,
		1452px 1297px #fff, 1432px 779px #fff, 501px 1081px #fff, 1071px 548px #fff,
		67px 1527px #fff, 1698px 203px #fff, 1971px 496px #fff, 440px 251px #fff,
		1764px 957px #fff, 853px 48px #fff, 699px 1476px #fff, 1534px 248px #fff,
		1274px 684px #fff, 1235px 978px #fff, 651px 119px #fff, 1861px 1463px #fff,
		1239px 1512px #fff, 37px 1739px #fff, 799px 1128px #fff, 1301px 607px #fff,
		1201px 836px #fff, 820px 1410px #fff, 1367px 1466px #fff, 718px 1815px #fff,
		928px 1681px #fff, 1787px 1714px #fff, 1513px 292px #fff, 708px 600px #fff,
		1492px 913px #fff, 674px 1444px #fff, 895px 1805px #fff, 50px 1405px #fff,
		1344px 80px #fff, 513px 473px #fff, 1995px 1524px #fff, 138px 1581px #fff,
		592px 539px #fff, 501px 1820px #fff, 1977px 1720px #fff, 1703px 258px #fff,
		19px 988px #fff, 894px 1778px #fff, 1156px 728px #fff, 764px 1187px #fff,
		1377px 418px #fff, 615px 1873px #fff, 137px 1px #fff, 648px 1235px #fff,
		746px 1000px #fff, 113px 927px #fff, 157px 332px #fff, 1750px 1759px #fff,
		896px 1578px #fff, 1814px 1956px #fff, 1689px 1045px #fff, 1032px 3px #fff,
		880px 946px #fff, 1535px 110px #fff, 1551px 846px #fff, 913px 707px #fff,
		550px 297px #fff, 906px 402px #fff, 1650px 147px #fff, 58px 783px #fff,
		719px 1105px #fff, 1185px 901px #fff, 1631px 1538px #fff, 775px 389px #fff,
		897px 1449px #fff, 1633px 397px #fff, 444px 1966px #fff, 1619px 501px #fff,
		1113px 782px #fff, 557px 1441px #fff, 1058px 135px #fff, 1534px 1060px #fff,
		1392px 581px #fff, 1661px 1053px #fff, 587px 432px #fff, 1234px 27px #fff,
		301px 596px #fff, 365px 1394px #fff, 755px 971px #fff, 974px 1762px #fff,
		1732px 1448px #fff, 886px 1355px #fff, 445px 1002px #fff, 197px 1499px #fff,
		143px 1489px #fff, 370px 590px #fff, 70px 1210px #fff, 1436px 421px #fff,
		534px 162px #fff, 990px 1793px #fff, 918px 255px #fff, 327px 1554px #fff,
		423px 760px #fff, 1812px 906px #fff, 1252px 86px #fff, 721px 2000px #fff,
		1103px 893px #fff, 788px 1009px #fff, 884px 478px #fff, 1914px 1870px #fff,
		683px 540px #fff, 718px 1329px #fff, 1063px 364px #fff, 1681px 1740px #fff,
		1761px 991px #fff, 853px 178px #fff, 1992px 293px #fff, 1073px 966px #fff,
		316px 171px #fff, 1964px 1960px #fff, 1193px 598px #fff, 1889px 578px #fff,
		1991px 883px #fff, 816px 322px #fff, 1324px 579px #fff, 1606px 1229px #fff,
		509px 57px #fff, 1800px 435px #fff, 996px 70px #fff, 1070px 1237px #fff,
		413px 686px #fff, 1212px 1693px #fff, 776px 1069px #fff, 952px 763px #fff,
		673px 1056px #fff, 1150px 636px #fff, 288px 1482px #fff, 1002px 1721px #fff,
		750px 667px #fff, 1535px 1615px #fff, 840px 1148px #fff, 1613px 1410px #fff,
		985px 344px #fff, 163px 673px #fff, 1993px 371px #fff, 568px 1876px #fff,
		1280px 377px #fff, 94px 58px #fff, 186px 1597px #fff, 457px 1320px #fff,
		987px 553px #fff, 809px 427px #fff, 604px 1668px #fff, 159px 289px #fff,
		505px 1673px #fff, 1415px 1962px #fff, 196px 733px #fff, 1384px 849px #fff,
		324px 359px #fff, 1213px 951px #fff, 1631px 958px #fff, 873px 1788px #fff,
		558px 1649px #fff, 830px 133px #fff, 58px 1139px #fff, 313px 1053px #fff,
		402px 1999px #fff, 854px 510px #fff, 626px 118px #fff, 870px 794px #fff,
		1028px 1508px #fff, 1121px 1669px #fff, 132px 1468px #fff,
		1664px 1610px #fff, 236px 1172px #fff, 1466px 130px #fff, 106px 156px #fff,
		1626px 92px #fff, 1579px 201px #fff, 867px 1308px #fff, 1260px 864px #fff,
		1482px 453px #fff, 1642px 123px #fff, 1911px 1162px #fff, 1490px 1548px #fff,
		1971px 952px #fff, 1356px 1872px #fff, 823px 1060px #fff, 1115px 43px #fff,
		1707px 25px #fff, 1187px 1089px #fff, 923px 1589px #fff, 626px 1377px #fff,
		1547px 153px #fff, 1537px 28px #fff, 537px 1282px #fff, 1055px 24px #fff,
		1757px 419px #fff, 1826px 425px #fff, 1552px 1115px #fff, 1322px 372px #fff,
		1430px 423px #fff, 952px 1590px #fff, 1680px 1156px #fff, 138px 81px #fff,
		1932px 308px #fff, 1842px 843px #fff, 542px 1388px #fff, 1154px 1754px #fff,
		89px 19px #fff, 782px 1926px #fff, 646px 618px #fff, 1205px 1951px #fff,
		1360px 183px #fff, 1391px 1083px #fff, 1843px 105px #fff, 1482px 1221px #fff,
		1279px 1389px #fff, 238px 667px #fff, 1113px 613px #fff, 1904px 1094px #fff,
		293px 1077px #fff, 1184px 1384px #fff, 1994px 548px #fff, 1697px 602px #fff,
		225px 641px #fff, 1425px 793px #fff, 1486px 443px #fff, 597px 39px #fff,
		468px 1940px #fff, 1327px 673px #fff, 780px 1825px #fff, 481px 1810px #fff,
		36px 757px #fff, 27px 576px #fff, 990px 306px #fff, 568px 1047px #fff,
		1846px 1660px #fff, 1970px 58px #fff, 38px 1919px #fff, 391px 1961px #fff,
		498px 256px #fff, 1229px 1725px #fff, 1939px 909px #fff, 1082px 1241px #fff,
		203px 698px #fff, 137px 1225px #fff, 685px 1522px #fff, 481px 1347px #fff,
		305px 1087px #fff, 636px 1193px #fff, 1382px 1334px #fff, 1089px 538px #fff,
		76px 1627px #fff, 1281px 129px #fff, 1466px 102px #fff;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 115px 859px #fff, 1251px 1839px #fff, 1805px 885px #fff,
		461px 1123px #fff, 1708px 295px #fff, 1548px 1194px #fff, 306px 690px #fff,
		1694px 664px #fff, 1533px 413px #fff, 1654px 1161px #fff, 1811px 1206px #fff,
		1034px 279px #fff, 130px 136px #fff, 98px 1869px #fff, 512px 1887px #fff,
		154px 72px #fff, 1500px 925px #fff, 1221px 105px #fff, 1091px 1766px #fff,
		1747px 1738px #fff, 727px 357px #fff, 1419px 1348px #fff, 568px 746px #fff,
		264px 1594px #fff, 1055px 1198px #fff, 1822px 1443px #fff, 1566px 757px #fff,
		1238px 546px #fff, 768px 1665px #fff, 1834px 807px #fff, 919px 814px #fff,
		1055px 1548px #fff, 1855px 495px #fff, 765px 610px #fff, 510px 1326px #fff,
		334px 10px #fff, 1146px 996px #fff, 725px 1320px #fff, 1538px 139px #fff,
		1757px 1877px #fff, 169px 1433px #fff, 1565px 47px #fff, 642px 1885px #fff,
		329px 179px #fff, 627px 316px #fff, 43px 1143px #fff, 577px 1044px #fff,
		1841px 320px #fff, 594px 95px #fff, 378px 993px #fff, 1741px 717px #fff,
		1825px 675px #fff, 1859px 1811px #fff, 258px 1512px #fff, 1759px 223px #fff,
		14px 389px #fff, 1836px 1108px #fff, 1422px 439px #fff, 471px 1104px #fff,
		810px 405px #fff, 1836px 1072px #fff, 721px 1365px #fff, 413px 537px #fff,
		631px 1612px #fff, 883px 565px #fff, 213px 1873px #fff, 519px 1586px #fff,
		1337px 1900px #fff, 171px 1152px #fff, 1545px 1866px #fff, 1901px 487px #fff,
		15px 1210px #fff, 1993px 726px #fff, 970px 1829px #fff, 1351px 1196px #fff,
		1456px 1504px #fff, 586px 445px #fff, 1400px 1876px #fff, 648px 335px #fff,
		69px 493px #fff, 1091px 65px #fff, 1550px 245px #fff, 1096px 1846px #fff,
		405px 894px #fff, 536px 853px #fff, 1572px 826px #fff, 671px 1598px #fff,
		298px 1675px #fff, 869px 397px #fff, 1099px 401px #fff, 1722px 1852px #fff,
		1899px 223px #fff, 1021px 1659px #fff, 86px 1129px #fff, 518px 1298px #fff,
		334px 927px #fff, 1777px 1608px #fff, 1904px 1092px #fff, 1145px 1108px #fff,
		1835px 1865px #fff, 693px 1359px #fff, 1764px 874px #fff, 1509px 758px #fff,
		1906px 1281px #fff, 1602px 1542px #fff, 1017px 978px #fff, 629px 1595px #fff,
		484px 642px #fff, 47px 946px #fff, 1972px 351px #fff, 1827px 661px #fff,
		651px 1901px #fff, 410px 1242px #fff, 922px 1044px #fff, 417px 1713px #fff,
		423px 349px #fff, 337px 873px #fff, 281px 315px #fff, 634px 1196px #fff,
		1238px 315px #fff, 171px 431px #fff, 924px 774px #fff, 595px 1519px #fff,
		825px 532px #fff, 470px 48px #fff, 1789px 1419px #fff, 643px 885px #fff,
		998px 720px #fff, 1498px 942px #fff, 1439px 2px #fff, 501px 1234px #fff,
		1956px 1448px #fff, 266px 1225px #fff, 1055px 788px #fff, 1942px 1436px #fff,
		705px 1531px #fff, 354px 263px #fff, 193px 851px #fff, 752px 526px #fff,
		1014px 501px #fff, 665px 387px #fff, 748px 1823px #fff, 746px 140px #fff,
		1005px 1858px #fff, 1690px 1288px #fff, 1934px 1504px #fff,
		631px 1071px #fff, 1910px 871px #fff, 138px 1129px #fff, 1969px 1463px #fff,
		1964px 492px #fff, 1606px 874px #fff, 188px 1540px #fff, 612px 271px #fff,
		755px 745px #fff, 530px 623px #fff, 1725px 375px #fff, 118px 1988px #fff,
		622px 1959px #fff, 445px 554px #fff, 1630px 1483px #fff, 1411px 612px #fff,
		1336px 599px #fff, 391px 369px #fff, 124px 403px #fff, 1700px 1316px #fff,
		1447px 1926px #fff, 138px 1727px #fff, 427px 885px #fff, 1863px 834px #fff,
		1442px 879px #fff, 794px 971px #fff, 1098px 1181px #fff, 980px 1526px #fff,
		224px 1453px #fff, 1671px 83px #fff, 1968px 1304px #fff, 1935px 1842px #fff,
		297px 98px #fff, 745px 1745px #fff, 1248px 562px #fff, 1742px 580px #fff,
		1925px 1376px #fff, 212px 1899px #fff, 1536px 187px #fff, 1261px 1064px #fff,
		739px 1053px #fff, 187px 1579px #fff, 383px 1336px #fff, 1547px 385px #fff,
		1588px 1903px #fff, 1099px 1803px #fff, 1721px 1090px #fff, 614px 722px #fff,
		570px 507px #fff, 227px 39px #fff, 156px 1267px #fff, 1028px 996px #fff,
		1231px 962px #fff, 1508px 493px #fff;
	animation: animStar 100s linear infinite;
}
#stars2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 115px 859px #fff, 1251px 1839px #fff, 1805px 885px #fff,
		461px 1123px #fff, 1708px 295px #fff, 1548px 1194px #fff, 306px 690px #fff,
		1694px 664px #fff, 1533px 413px #fff, 1654px 1161px #fff, 1811px 1206px #fff,
		1034px 279px #fff, 130px 136px #fff, 98px 1869px #fff, 512px 1887px #fff,
		154px 72px #fff, 1500px 925px #fff, 1221px 105px #fff, 1091px 1766px #fff,
		1747px 1738px #fff, 727px 357px #fff, 1419px 1348px #fff, 568px 746px #fff,
		264px 1594px #fff, 1055px 1198px #fff, 1822px 1443px #fff, 1566px 757px #fff,
		1238px 546px #fff, 768px 1665px #fff, 1834px 807px #fff, 919px 814px #fff,
		1055px 1548px #fff, 1855px 495px #fff, 765px 610px #fff, 510px 1326px #fff,
		334px 10px #fff, 1146px 996px #fff, 725px 1320px #fff, 1538px 139px #fff,
		1757px 1877px #fff, 169px 1433px #fff, 1565px 47px #fff, 642px 1885px #fff,
		329px 179px #fff, 627px 316px #fff, 43px 1143px #fff, 577px 1044px #fff,
		1841px 320px #fff, 594px 95px #fff, 378px 993px #fff, 1741px 717px #fff,
		1825px 675px #fff, 1859px 1811px #fff, 258px 1512px #fff, 1759px 223px #fff,
		14px 389px #fff, 1836px 1108px #fff, 1422px 439px #fff, 471px 1104px #fff,
		810px 405px #fff, 1836px 1072px #fff, 721px 1365px #fff, 413px 537px #fff,
		631px 1612px #fff, 883px 565px #fff, 213px 1873px #fff, 519px 1586px #fff,
		1337px 1900px #fff, 171px 1152px #fff, 1545px 1866px #fff, 1901px 487px #fff,
		15px 1210px #fff, 1993px 726px #fff, 970px 1829px #fff, 1351px 1196px #fff,
		1456px 1504px #fff, 586px 445px #fff, 1400px 1876px #fff, 648px 335px #fff,
		69px 493px #fff, 1091px 65px #fff, 1550px 245px #fff, 1096px 1846px #fff,
		405px 894px #fff, 536px 853px #fff, 1572px 826px #fff, 671px 1598px #fff,
		298px 1675px #fff, 869px 397px #fff, 1099px 401px #fff, 1722px 1852px #fff,
		1899px 223px #fff, 1021px 1659px #fff, 86px 1129px #fff, 518px 1298px #fff,
		334px 927px #fff, 1777px 1608px #fff, 1904px 1092px #fff, 1145px 1108px #fff,
		1835px 1865px #fff, 693px 1359px #fff, 1764px 874px #fff, 1509px 758px #fff,
		1906px 1281px #fff, 1602px 1542px #fff, 1017px 978px #fff, 629px 1595px #fff,
		484px 642px #fff, 47px 946px #fff, 1972px 351px #fff, 1827px 661px #fff,
		651px 1901px #fff, 410px 1242px #fff, 922px 1044px #fff, 417px 1713px #fff,
		423px 349px #fff, 337px 873px #fff, 281px 315px #fff, 634px 1196px #fff,
		1238px 315px #fff, 171px 431px #fff, 924px 774px #fff, 595px 1519px #fff,
		825px 532px #fff, 470px 48px #fff, 1789px 1419px #fff, 643px 885px #fff,
		998px 720px #fff, 1498px 942px #fff, 1439px 2px #fff, 501px 1234px #fff,
		1956px 1448px #fff, 266px 1225px #fff, 1055px 788px #fff, 1942px 1436px #fff,
		705px 1531px #fff, 354px 263px #fff, 193px 851px #fff, 752px 526px #fff,
		1014px 501px #fff, 665px 387px #fff, 748px 1823px #fff, 746px 140px #fff,
		1005px 1858px #fff, 1690px 1288px #fff, 1934px 1504px #fff,
		631px 1071px #fff, 1910px 871px #fff, 138px 1129px #fff, 1969px 1463px #fff,
		1964px 492px #fff, 1606px 874px #fff, 188px 1540px #fff, 612px 271px #fff,
		755px 745px #fff, 530px 623px #fff, 1725px 375px #fff, 118px 1988px #fff,
		622px 1959px #fff, 445px 554px #fff, 1630px 1483px #fff, 1411px 612px #fff,
		1336px 599px #fff, 391px 369px #fff, 124px 403px #fff, 1700px 1316px #fff,
		1447px 1926px #fff, 138px 1727px #fff, 427px 885px #fff, 1863px 834px #fff,
		1442px 879px #fff, 794px 971px #fff, 1098px 1181px #fff, 980px 1526px #fff,
		224px 1453px #fff, 1671px 83px #fff, 1968px 1304px #fff, 1935px 1842px #fff,
		297px 98px #fff, 745px 1745px #fff, 1248px 562px #fff, 1742px 580px #fff,
		1925px 1376px #fff, 212px 1899px #fff, 1536px 187px #fff, 1261px 1064px #fff,
		739px 1053px #fff, 187px 1579px #fff, 383px 1336px #fff, 1547px 385px #fff,
		1588px 1903px #fff, 1099px 1803px #fff, 1721px 1090px #fff, 614px 722px #fff,
		570px 507px #fff, 227px 39px #fff, 156px 1267px #fff, 1028px 996px #fff,
		1231px 962px #fff, 1508px 493px #fff;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1542px 252px #fff, 405px 272px #fff, 1559px 383px #fff,
		213px 1083px #fff, 1909px 1577px #fff, 1833px 1320px #fff, 1957px 805px #fff,
		928px 658px #fff, 1730px 1792px #fff, 1641px 709px #fff, 1015px 1680px #fff,
		1391px 603px #fff, 694px 1131px #fff, 1043px 905px #fff, 66px 1511px #fff,
		1651px 1709px #fff, 370px 638px #fff, 20px 1434px #fff, 1176px 426px #fff,
		1736px 1567px #fff, 1604px 30px #fff, 453px 126px #fff, 1858px 1755px #fff,
		1342px 946px #fff, 1569px 1740px #fff, 1779px 32px #fff, 447px 1091px #fff,
		253px 155px #fff, 729px 536px #fff, 137px 1471px #fff, 1513px 346px #fff,
		442px 733px #fff, 124px 1171px #fff, 1827px 1128px #fff, 1961px 1107px #fff,
		1887px 1043px #fff, 1017px 1856px #fff, 1602px 753px #fff, 972px 625px #fff,
		266px 1179px #fff, 1907px 1432px #fff, 1243px 1265px #fff, 256px 519px #fff,
		50px 1781px #fff, 1517px 383px #fff, 199px 87px #fff, 1426px 1298px #fff,
		397px 1381px #fff, 1233px 922px #fff, 695px 237px #fff, 784px 645px #fff,
		1330px 1509px #fff, 448px 1546px #fff, 165px 1450px #fff, 1655px 804px #fff,
		1611px 465px #fff, 181px 1630px #fff, 1914px 1395px #fff, 834px 677px #fff,
		1094px 1861px #fff, 1624px 569px #fff, 286px 373px #fff, 31px 1761px #fff,
		286px 1070px #fff, 1667px 449px #fff, 806px 1780px #fff, 1521px 1562px #fff,
		1321px 240px #fff, 442px 1694px #fff, 149px 350px #fff, 1114px 563px #fff,
		81px 435px #fff, 1994px 1354px #fff, 1494px 1030px #fff, 888px 1933px #fff,
		94px 1330px #fff, 1284px 973px #fff, 1876px 1582px #fff, 1588px 1489px #fff,
		1622px 1459px #fff, 60px 1751px #fff, 332px 1916px #fff, 787px 117px #fff,
		1459px 1091px #fff, 134px 1663px #fff, 1875px 962px #fff, 795px 411px #fff,
		1885px 1948px #fff, 714px 713px #fff, 1466px 1516px #fff, 1656px 241px #fff,
		889px 1641px #fff, 1820px 76px #fff, 1910px 814px #fff, 845px 841px #fff,
		1308px 377px #fff, 1373px 1096px #fff, 827px 1383px #fff, 1620px 925px #fff,
		1171px 1858px #fff;
	animation: animStar 150s linear infinite;
}
#stars3:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1542px 252px #fff, 405px 272px #fff, 1559px 383px #fff,
		213px 1083px #fff, 1909px 1577px #fff, 1833px 1320px #fff, 1957px 805px #fff,
		928px 658px #fff, 1730px 1792px #fff, 1641px 709px #fff, 1015px 1680px #fff,
		1391px 603px #fff, 694px 1131px #fff, 1043px 905px #fff, 66px 1511px #fff,
		1651px 1709px #fff, 370px 638px #fff, 20px 1434px #fff, 1176px 426px #fff,
		1736px 1567px #fff, 1604px 30px #fff, 453px 126px #fff, 1858px 1755px #fff,
		1342px 946px #fff, 1569px 1740px #fff, 1779px 32px #fff, 447px 1091px #fff,
		253px 155px #fff, 729px 536px #fff, 137px 1471px #fff, 1513px 346px #fff,
		442px 733px #fff, 124px 1171px #fff, 1827px 1128px #fff, 1961px 1107px #fff,
		1887px 1043px #fff, 1017px 1856px #fff, 1602px 753px #fff, 972px 625px #fff,
		266px 1179px #fff, 1907px 1432px #fff, 1243px 1265px #fff, 256px 519px #fff,
		50px 1781px #fff, 1517px 383px #fff, 199px 87px #fff, 1426px 1298px #fff,
		397px 1381px #fff, 1233px 922px #fff, 695px 237px #fff, 784px 645px #fff,
		1330px 1509px #fff, 448px 1546px #fff, 165px 1450px #fff, 1655px 804px #fff,
		1611px 465px #fff, 181px 1630px #fff, 1914px 1395px #fff, 834px 677px #fff,
		1094px 1861px #fff, 1624px 569px #fff, 286px 373px #fff, 31px 1761px #fff,
		286px 1070px #fff, 1667px 449px #fff, 806px 1780px #fff, 1521px 1562px #fff,
		1321px 240px #fff, 442px 1694px #fff, 149px 350px #fff, 1114px 563px #fff,
		81px 435px #fff, 1994px 1354px #fff, 1494px 1030px #fff, 888px 1933px #fff,
		94px 1330px #fff, 1284px 973px #fff, 1876px 1582px #fff, 1588px 1489px #fff,
		1622px 1459px #fff, 60px 1751px #fff, 332px 1916px #fff, 787px 117px #fff,
		1459px 1091px #fff, 134px 1663px #fff, 1875px 962px #fff, 795px 411px #fff,
		1885px 1948px #fff, 714px 713px #fff, 1466px 1516px #fff, 1656px 241px #fff,
		889px 1641px #fff, 1820px 76px #fff, 1910px 814px #fff, 845px 841px #fff,
		1308px 377px #fff, 1373px 1096px #fff, 827px 1383px #fff, 1620px 925px #fff,
		1171px 1858px #fff;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
