@use "../../assets/styles/colors.scss" as colors;

.wrapper {
	display: flex;
	width: 100vw;
	height: 100vh;
	padding: 20px;
	box-sizing: border-box;

	.content {
		width: 100%;
		height: 100%;
		border-radius: 8px;
		position: relative;

		.textBlock {
			display: flex;
			.terminal_cursor {
				display: block;
				height: 14px;
				width: 5px;
				margin-left: 10px;
				animation: curbl 1200ms linear infinite;
			}
		}

		.closeButton {
			width: 34px;
			height: 34px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: transparent;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

@keyframes curbl {
	0% {
		background: #ffffff;
	}

	49% {
		background: #ffffff;
	}

	60% {
		background: transparent;
	}

	99% {
		background: transparent;
	}

	100% {
		background: #ffffff;
	}
}
